body {
	font-family: sans-serif;
	
	margin: 0;
	padding: 0;
}

.jumbotron h1 {
	color: #B0CADA;
	font-weight: bold;
	font-family: 'Alfa Slab One', cursive;
}

.jumbotron p {
	color: #B0CADA;
	font-weight: bold;
	font-size: 25px;
	font-family: 'Alfa Slab One', cursive;
}

.jumbotron {
	background-image: url('../images/abstract-technology-concept-industrial-web-header-banner-vector-template-bridge-landscape-circuit-board-gears-79083330.jpeg');

	background-size: contain;

}