body {
	font-family: sans-serif;
	
	margin: 0;
	padding: 0;
}

.jumbotron h1 {
	color: #B0CADA;
	font-weight: bold;
	font-family: 'Alfa Slab One', cursive;
}

.jumbotron p {
	color: #B0CADA;
	font-weight: bold;
	font-size: 25px;
	font-family: 'Alfa Slab One', cursive;
}

.jumbotron {
	background-image: url('../images/abstract-technology-concept-industrial-web-header-banner-vector-template-bridge-landscape-circuit-board-gears-79083330.jpeg');

	background-size: contain;

}

.buttons {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3a6e91), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3a6e91, #65a9d7);
   background: -moz-linear-gradient(top, #3a6e91, #65a9d7);
   background: -ms-linear-gradient(top, #3a6e91, #65a9d7);
   background: -o-linear-gradient(top, #3a6e91, #65a9d7);
   padding: 7px 14px;
   -webkit-border-radius: 18px;
   -moz-border-radius: 18px;
   border-radius: 18px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.buttons:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.buttons:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }